body {
	background-color: #FFF;
	background-attachment: fixed;
	background-position: left top;
	width: 100vw;
	margin: 0 auto;
	overflow-x: hidden;
	font-family: sans-serif;
	font-size: 62.5%;
	line-height: 1;
}
#main {
	width: 80%;
	margin: 5% auto 0;
	position: relative;
	max-width: 100%;
	white-space: nowrap;
	user-select: none;
}
#main ul, .menu {
	margin: 0;
	padding: 0;
	list-style: none;
}
#main a + ul, #main a + div {
	padding-left: 24px;
}
#main a {
	box-sizing: border-box;
	max-width: 100%;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 1.6em;
	line-height: 2;
	text-decoration: none;
	color: #555;
	padding: 0 0em .25em .8em;
	border-radius: .2em;
	cursor: pointer;
	transition-property: color, background-color, box-shadow, opacity;
	transition-duration: 0.2s;
	transition-timing-function: ease-out;
}
#main a:hover {
	color: #000;
	background-color: #E4F4FF;
	box-shadow: 0 0 7px #57B0FF;
}
.icon {
	display: inline-block;
	width: 16px;
	height: 16px;
	margin: -3px .4em 0 0;
	background-size: 100% 100%;
	vertical-align: middle;
}
#main a:after {
	/* workaround Chromium issue 142154 */
	content: '';
	display: inline-block;
	width: 2px;
	margin-left: -2px;
}
.wrap {
	transition-property: height, opacity;
	transition-duration: 0.2s;
	transition-timing-function: ease-out;
}
.column {
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	padding: 10px 0 20px 0;
	min-height: 300px;
  max-height: 85vh;
  overflow-y: auto;
}

#main .empty {
	opacity: 0.5;
}

#main li {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}

.menu {
	position: absolute;
	white-space: nowrap;
	font-size: 1.2em;
	line-height: 2;
	background-color: #FAFAFA;
	border: solid 1px #999;
	border-radius: 3px;
	box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
}
.menu a {
	display: block;
	text-decoration: none;
	color: #000;
	padding: 0 2em;
	cursor: default;
}
.menu a:hover {
	background-color: #E4F4FF;
	border: solid 1px #57B0FF;
	margin: -1px;
	position: relative;
}
.menu li:first-child a {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.menu li:last-child a {
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}
.menu hr {
	margin: 0;
	border: solid #CCC;
	border-width: 1px 0 0 0;
}
.dragstart {
	opacity: 0.5;
}

#main .extracted a {
  color: #a0a0a0;
  font-style: italic;
  font-weight: 600;
  cursor: not-allowed;
}

#main .extracted a:hover {
  color: #008080;  
  cursor: not-allowed;
}

/* Top level elements */
#main .column > ul > li > a {
  /* background: linear-gradient(#eee); */
  color: #808080;;
  font-size: large;
  font-weight: 800;
}

#main .column > ul > li > a:hover {
  color: #008080;
}

.hide-focus :focus {
	outline: none;
}

.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-box {
  width: 40%;
  min-width: 300px;
  height: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

#saveButton {
  padding: 5px 15px;
  border: 1px solid currentColor;
  cursor: pointer;
  margin: 0px 31px 0px 8px;
  border-radius: 7px;
  background-color: teal;
  color: white;
  font-weight: bold;
}

#saveButton span{
  font-weight: 800;
  font-size: medium;
}

.close-button {
  padding: 2px 8px;
  border: 1px solid currentColor;
  cursor: pointer;
  margin: 0px;
  border-radius: 7px;
}

#modal-toggle ~ .modal {
  opacity: 0;
  pointer-events: none;
}

.modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 300ms;
}
#modal-toggle:checked ~ .modal {
  opacity: 1;
  pointer-events: all;
}

.btn-wrapper {
  display: flex;
  justify-content:end;
  margin-top: 11px;
}

#modal-toggle{
  display: none;
}
.open-button {
  width: 200px;
  height: 30px;
  background-color: var( - blue);
  padding: 10px;
  cursor: pointer;
}

#edit_bookmark {
  position:relative;
  font-size: 1.4em;
	color: #000;
	min-width: 32em;
	min-height: 10em;
	list-style: none;
	margin: 0;
	padding: 0;
  background-color: #EEE;
	border-top: 31px solid teal;
  border-radius: 15px;  
  box-shadow: 15px 15px 11px rgba(0, 0, 0, 0.3);
}

#edit_bookmark h3{
  text-align: center;
  margin-top: 11px;
  margin-bottom: 5px;
}

#edit_bookmark fieldset {
  margin: 0px auto 15px;
}

#edit_bookmark input{
  width: 90%;
  margin: 5px 0px 9px 15px;
  padding: 11px 7px;
  font-size: 13pt;
}

#edit_bookmark span{
  float: left;
	text-align: left;
	/* line-height: 2; */
  font-size: small;  
  margin: 0px;
}

legend {
	color: #888;
}
fieldset {
	border: none;
	margin: 1em .5em 1em 2em;
	padding: .5em 0 0;
}
label {
	display: block;
	font-size: 0.85em;
	text-align: right;
	margin: 0 0 .1em 1.4em;
	clear: left;
}
label span {
	float: left;
	text-align: left;
	line-height: 1.9;
}
input, select, textarea, .revert {
	width: 9em;
	margin: 0 0 0 .5em;
	box-sizing: border-box;
	vertical-align: middle;
}
textarea {
	width: 20em;
	height: 16em;
	font-size: 1.1em;
	font-family: monospace;
	vertical-align: top;
	float: left;
}
input.color {
	width: 6em;
	font-family: monospace;
}
input[type="checkbox"] {
	width: 1.2em;
}
input[type=color] {
	width: 3em;
	margin: 0;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0 1px;
}
input[type="file"]::-webkit-file-upload-button {
	width: 100%;
}

.folder .icon {
	background-image: -webkit-image-set(url("icons/folder.png") 1x, url("icons/folder@2x.png") 2x);
}
.open .icon {
	background-image: -webkit-image-set(url("icons/folder_open.png") 1x, url("icons/folder_open@2x.png") 2x);
}
.empty .icon {
	display: none;
}

.folder .pencil, a .pencil, .folder .plus, a .plus {
  vertical-align: middle;
  width: 16px;
  height: 16px;
  padding: 5px;
  border-radius: 5px;
  background-color: paleturquoise;
  display: none;
}

.folder .pencil {
  margin: 0px 5px 0px 11px;
}

.folder .plus {
  margin: 0px 5px 0px 0px;
}

a .pencil {
  margin: 0px 5px 0px 11px;
}


.folder:hover .pencil, .folder:hover .plus, a:hover .pencil {
  display: inline-block;
}

.pencil:hover, .plus:hover {
  background-color: white;
}

.extracted .pencil, .extracted .plus {
  display: none;
}

.extracted:hover .pencil, .extracted:hover .plus {
  display: none;
  padding: 0 0.8em;
}

.extracted:hover {
  padding: 0 0.8em;
}

li:hover .extracted {
  background-image: none;
  background-color: white;
}

/* The following icons are copyright (c) 2012 The Chromium Authors.
   see LICENSE_chromium_BSD.txt */
.recent .icon {
	background-image: -webkit-image-set(url("icons/recent.png") 1x, url("icons/recent@2x.png") 2x);
}
.top .icon {
	background-image: -webkit-image-set(url("icons/top.png") 1x, url("icons/top@2x.png") 2x);
}
.closed .icon {
	background-image: -webkit-image-set(url("icons/closed.png") 1x, url("icons/closed@2x.png") 2x);
}
.window .icon {
	background-image: -webkit-image-set(url("icons/window.png") 1x, url("icons/window@2x.png") 2x);
}
.devices .icon {
	background-image: -webkit-image-set(url("icons/phone.png") 1x, url("icons/phone@2x.png") 2x);
}
.error .icon {
	background-image: -webkit-image-set(url("icons/error.png") 1x, url("icons/error@2x.png") 2x);
}
